*{
    border: 0px;
    margin: 0px;
    
}

body{
    border: 4px;
    padding: auto;
    background-color: rgb(20, 56, 80);
    color:  rgb(99,177,62);


}

.H{
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: right;

}

.H img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 8px solid gray;
}
.j{
    text-align: center;
    background-color: rgb(184, 216, 102);
    color: rgb(10, 171, 123);
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    align-items: center;
    
}

#L{
    border: 2px solid blueviolet;
    margin: 3px;

}

h1{
    align-items: center;
    font-style: italic;
    color: darkcyan;
    padding-top: 60px;
    padding-left: 40px;
}

.j:hover{
    color: brown;
     content: '';
  
    transform: matrix(1);
    transition: 0s;
   
}